#loaderouter{
align-items: center;
}

circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width:5px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 5s linear forwards;
    z-index: 100;
}

svg{
    position:absolute;
    top:0;
    left:0;
}

@keyframes anim{
    100%{
        stroke-dashoffset: 0;
    }
}

